//Brand colors
$color-brand-100: #ECE8FF;
$color-brand-200: #DCD4FF;
$color-brand-300: #C1B2FF;
$color-brand-400: #A98DFF;
$color-brand-500: #8755FD;
$color-brand-600: #7932F5;

//Accent colors
$color-primary-accent-100: #FFCEC7;
$color-primary-accent-200: #FFABA0;
$color-primary-accent-300: #FF6854;
$color-primary-accent-400: #C12814;
$color-secondary-accent-100: #FFD81B;
$color-secondary-accent-200: #FFB800;
$color-secondary-accent-300: #E28D00;
$color-secondary-accent-400: #BB6302;

//Background colors
$color-primary-background-100: #FAFAFF;
$color-primary-background-200: #DBDBFE;
$color-primary-background-300: #BFBFFE;
$color-primary-background-400: #9397FD;
$color-secondary-background-100: #F0F2F8;
$color-secondary-background-200: #E6EAF3;
$color-secondary-background-300: #D3D9EA;
$color-secondary-background-400: #B5C0DB;
$color-secondary-background-500: #919FC9;

//Text colors
$color-text-100: #F6F6F6;
$color-text-200: #6E6E6E;
$color-text-300: #2E2E2E;

//Border colors
$color-border-100: #F4F5F9;
$color-border-200: #EBECF4;
$color-border-300: #D9DBE9;
$color-border-400: #C4C7DD;
$color-border-500: #ACADCD;

//State colors
$color-state-success: #15B584;
$color-state-error: #FF6854;
$color-state-warning: #FFB800;